* {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 100%;
}

html, body {
	height: 100%;
}

body {
	padding: 0px;
	text-align: center;
	background: url('background.gif') repeat;
	background-size: 478px 387px;
}

#menu {
	margin-left: 20px;
	text-align: left;
	float: left;
	color: white;
	font-size: 18px;
	background: rgba(40, 118, 160, 0.3);
}

#share-buttons {
	float: right;
	margin-right: 50px;
}

.google,.facebook,.twitter{margin: 10px;}

#container {
	min-height: 100%;
	position: relative;
}

/* Couldn't figure a more elegant way to have both margin-top 15px in the container and footer stay down without a scroll bar (height )*/
#push {
	height: 15px;
}

#sheet {
	width: 600px;
	background: url('bg.png') no-repeat;
	height: 650px;
	background-size: 600px 650px;
	margin: auto; /* Right and left margin widths set to "auto" */
	text-align:justify; /* Counteract to IE5/Win Hack */	
	padding-bottom: 18px;
}

#content {
	padding-top: 39px;
	padding-left: 80px;
	line-height: 28px;
	font-family: monospace;
	font-weight: bold;
	font-size: 16px; /* 1.3 em */
	vertical-align: text-bottom;
}

#score {
	display: inline;
	float: right;
	margin-right: 30px;
}

#find-word {
	margin-top: 10 px;
	text-align: center;
}

#word {
	text-align: center;
	white-space: pre;
}

#gtranslate {
	text-align: center;
}

#gtranslate a {	
	color: black;
	text-decoration: none;
}

#gtranslate a:hover {
	border-bottom: dashed 3px;
}

#hangman {
	background: url('hangmans/1.gif') no-repeat;
	width: 350px;
	height: 350px;
}

#message {
	float: right;
	margin-top: 250px;
	margin-right: 30px;
}

#pencil {
	position: fixed;
	top: 200px;
	right: 15%;
	transform:rotate(7deg);
	-ms-transform:rotate(7deg); /* IE 9 */
	-moz-transform:rotate(7deg); /* Firefox */
	-webkit-transform:rotate(7deg); /* Safari and Chrome */
	-o-transform:rotate(7deg); /* Opera */
}

#pencil img {
	height: 450px;
	width: 50px;
}

.letter:hover {
	text-shadow: 2px 2px #F0951F;
	cursor: hand;
}

input[type="radio"] {
	display: none;
}

label:hover, #new-game:hover {	
	cursor: hand;
	color: red;
}

input[type="radio"]:checked + label {
	color: yellow;
}

.clearfooter {
	height: 25px;
	clear: both;
}

#footer {
	position: absolute;
	height: 20px;
	bottom: 0;
	width: 100%;
	color: black;
	font-size: 14px;
	background: rgba(40, 118, 160, 0.3);
}

#footer a {
	color: yellow;
	border: dash 1px;
}
